In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import  pyplot as plt
import missingno as msno
from datetime import date
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split
from sklearn.neighbors import LocalOutlierFactor
from sklearn.preprocessing import MinMaxScaler, LabelEncoder, StandardScaler, RobustScaler
from sklearn.linear_model import LinearRegression

In [42]:
df=pd.read_csv('Telco-Customer-Churn.csv')

In [43]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,7043.0,0.162147,0.368612,0.00,0.0,0.00,0.00,1.00
tenure,7043.0,32.371149,24.559481,0.00,9.0,29.00,55.00,72.00
MonthlyCharges,7043.0,64.761692,30.090047,18.25,35.5,70.35,89.85,118.75

In [44]:
df.describe(include='object').T

                 count unique               top  freq
customerID        7043   7043        7590-VHVEG     1
gender            7043      2              Male  3555
Partner           7043      2                No  3641
Dependents        7043      2                No  4933
PhoneService      7043      2               Yes  6361
MultipleLines     7043      3                No  3390
InternetService   7043      3       Fiber optic  3096
OnlineSecurity    7043      3                No  3498
OnlineBackup      7043      3                No  3088
DeviceProtection  7043      3                No  3095
TechSupport       7043      3                No  3473
StreamingTV       7043      3                No  2810
StreamingMovies   7043      3                No  2785
Contract          7043      3    Month-to-month  3875
PaperlessBilling  7043      2               Yes  4171
PaymentMethod     7043      4  Electronic check  2365
TotalCharges      7043   6531                      11
Churn             7043      2                No  5174

In [45]:
df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [46]:
df.columns=[col.upper() for col in df.columns]

In [5]:
df.head()

,CUSTOMERID,GENDER,SENIORCITIZEN,PARTNER,DEPENDENTS,TENURE,PHONESERVICE,MULTIPLELINES,INTERNETSERVICE,ONLINESECURITY,...,DEVICEPROTECTION,TECHSUPPORT,STREAMINGTV,STREAMINGMOVIES,CONTRACT,PAPERLESSBILLING,PAYMENTMETHOD,MONTHLYCHARGES,TOTALCHARGES,CHURN
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

# Görev 1 : Keşifçi Veri Analizi

In [6]:
# Adım 1: Genel resmi inceleyiniz.
def genraly(data):
    print('##### head #######')
    print(data.head())
    print('##### shape #######')
    print(data.shape)
    print('##### dtypes #######')
    print(data.dtypes)
    print('##### info #######')
    print(data.info())
    print('##### describe #######')
    print(data.describe().T)
    print('##### tail #######')
    print(data.tail())

genraly(df)

##### head #######
   CUSTOMERID  GENDER  SENIORCITIZEN PARTNER DEPENDENTS  TENURE PHONESERVICE
0  7590-VHVEG  Female              0     Yes         No       1           No  \
1  5575-GNVDE    Male              0      No         No      34          Yes
2  3668-QPYBK    Male              0      No         No       2          Yes
3  7795-CFOCW    Male              0      No         No      45           No
4  9237-HQITU  Female              0      No         No       2          Yes

      MULTIPLELINES INTERNETSERVICE ONLINESECURITY  ... DEVICEPROTECTION
0  No phone service             DSL             No  ...               No  \
1                No             DSL            Yes  ...              Yes
2                No             DSL            Yes  ...               No
3  No phone service             DSL            Yes  ...              Yes
4                No     Fiber optic             No  ...               No

  TECHSUPPORT STREAMINGTV STREAMINGMOVIES        CONTRACT PAPERLESSBILLING
0          No          No              No  Month-to-month              Yes  \
1          No          No              No        One year               No
2          No          No              No  Month-to-month              Yes
3         Yes          No              No        One year               No
4          No          No              No  Month-to-month              Yes

               PAYMENTMETHOD MONTHLYCHARGES  TOTALCHARGES CHURN
0           Electronic check          29.85         29.85    No
1               Mailed check          56.95        1889.5    No
2               Mailed check          53.85        108.15   Yes
3  Bank transfer (automatic)          42.30       1840.75    No
4           Electronic check          70.70        151.65   Yes

[5 rows x 21 columns]
##### shape #######
(7043, 21)
##### dtypes #######
CUSTOMERID           object
GENDER               object
SENIORCITIZEN         int64
PARTNER              object
DEPENDENTS           object
TENURE                int64
PHONESERVICE         object
MULTIPLELINES        object
INTERNETSERVICE      object
ONLINESECURITY       object
ONLINEBACKUP         object
DEVICEPROTECTION     object
TECHSUPPORT          object
STREAMINGTV          object
STREAMINGMOVIES      object
CONTRACT             object
PAPERLESSBILLING     object
PAYMENTMETHOD        object
MONTHLYCHARGES      float64
TOTALCHARGES         object
CHURN                object
dtype: object
##### info #######
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CUSTOMERID        7043 non-null   object
 1   GENDER            7043 non-null   object
 2   SENIORCITIZEN     7043 non-null   int64
 3   PARTNER           7043 non-null   object
 4   DEPENDENTS        7043 non-null   object
 5   TENURE            7043 non-null   int64
 6   PHONESERVICE      7043 non-null   object
 7   MULTIPLELINES     7043 non-null   object
 8   INTERNETSERVICE   7043 non-null   object
 9   ONLINESECURITY    7043 non-null   object
 10  ONLINEBACKUP      7043 non-null   object
 11  DEVICEPROTECTION  7043 non-null   object
 12  TECHSUPPORT       7043 non-null   object
 13  STREAMINGTV       7043 non-null   object
 14  STREAMINGMOVIES   7043 non-null   object
 15  CONTRACT          7043 non-null   object
 16  PAPERLESSBILLING  7043 non-null   object
 17  PAYMENTMETHOD     7043 non-null   object
 18  MONTHLYCHARGES    7043 non-null   float64
 19  TOTALCHARGES      7043 non-null   object
 20  CHURN             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB
None
##### describe #######
                 count       mean        std    min   25%    50%    75%
SENIORCITIZEN   7043.0   0.162147   0.368612   0.00   0.0   0.00   0.00  \
TENURE          7043.0  32.371149  24.559481   0.00   9.0  29.00  55.00
MONTHLYCHARGES  7043.0  64.761692  30.090047  18.25  35.5  70.35  89.85

                   max
SENIORCITIZEN     1.00
TENURE           72.00
MONTHLYCHARGES  118.75
##### tail #######
      CUSTOMERID  GENDER  SENIORCITIZEN PARTNER DEPENDENTS  TENURE
7038  6840-RESVB    Male              0     Yes        Yes      24  \
7039  2234-XADUH  Female              0     Yes        Yes      72
7040  4801-JZAZL  Female              0     Yes        Yes      11
7041  8361-LTMKD    Male              1     Yes         No       4
7042  3186-AJIEK    Male              0      No         No      66

     PHONESERVICE     MULTIPLELINES INTERNETSERVICE ONLINESECURITY  ...
7038          Yes               Yes             DSL            Yes  ...  \
7039          Yes               Yes     Fiber optic             No  ...
7040           No  No phone service             DSL            Yes  ...
7041          Yes               Yes     Fiber optic             No  ...
7042          Yes                No     Fiber optic            Yes  ...

     DEVICEPROTECTION TECHSUPPORT STREAMINGTV STREAMINGMOVIES        CONTRACT
7038              Yes         Yes         Yes             Yes        One year  \
7039              Yes          No         Yes             Yes        One year
7040               No          No          No              No  Month-to-month
7041               No          No          No              No  Month-to-month
7042              Yes         Yes         Yes             Yes        Two year

     PAPERLESSBILLING              PAYMENTMETHOD MONTHLYCHARGES  TOTALCHARGES
7038              Yes               Mailed check          84.80        1990.5  \
7039              Yes    Credit card (automatic)         103.20        7362.9
7040              Yes           Electronic check          29.60        346.45
7041              Yes               Mailed check          74.40         306.6
7042              Yes  Bank transfer (automatic)         105.65        6844.5

     CHURN
7038    No
7039    No
7040    No
7041   Yes
7042    No

[5 rows x 21 columns]

In [16]:
# Adım 2: Numerik ve kategorik değişkenleri yakalayınız.
def search(data, cat_th=10, car_th=20):
    cat_cols=[col for col in data.columns if data[col].dtypes =='O']
    num_but_cols=[col for col in data.columns if data[col].nunique() < cat_th and data[col].dtypes !='O']
    #car_but_cat=[col for col in data.columns if data[col].nunique() > car_th and data[col].dtypes=='O']
    cat_cols=cat_cols+num_but_cols
    #cat_cols=[col for col in cat_cols if col not in car_but_cat]

    
    num_cols=[col for col in data.columns if data[col].dtypes !='O']
    #num_cols=[col for col in num_col if col not in num_but_cols]
    
    print(f'gozlem sayi: {data.shape[0]}')
    print(f'deyisken sayi: {data.shape[1]}')
    print(f'categorik: {len(cat_cols)}')
    print(f'number gibi gorunen: {len(num_but_cols)}')
   # print(f'cardinal: {len(car_but_cat)}')
    print(f'sayisal deyisken :{len(num_cols)}')
    
    
    
    return cat_cols,num_but_cols,num_cols

In [17]:
cat_cols,num_but_cols, num_cols=search(df)

gozlem sayi: 7043
deyisken sayi: 21
categorik: 19
number gibi gorunen: 1
sayisal deyisken :3

In [18]:
# Adım 3.1: Numerik  değişkenlerin analizini yapınız.
def number(data,num_cols):
    quantiles=[0.05,0.10,0.25,0.30,0.40,0.50,0.60,0.70,0.80,0.90,0.95,0.99]
    print(data[num_cols].describe(quantiles))

In [19]:
for col in num_cols:
    number(df,col)

count    7043.000000
mean        0.162147
std         0.368612
min         0.000000
5%          0.000000
10%         0.000000
25%         0.000000
30%         0.000000
40%         0.000000
50%         0.000000
60%         0.000000
70%         0.000000
80%         0.000000
90%         1.000000
95%         1.000000
99%         1.000000
max         1.000000
Name: SeniorCitizen, dtype: float64
count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
5%          1.000000
10%         2.000000
25%         9.000000
30%        12.000000
40%        20.000000
50%        29.000000
60%        40.000000
70%        50.000000
80%        60.000000
90%        69.000000
95%        72.000000
99%        72.000000
max        72.000000
Name: tenure, dtype: float64
count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
5%         19.650000
10%        20.050000
25%        35.500000
30%        45.850000
40%        58.830000
50%        70.350000
60%        79.100000
70%        85.500000
80%        94.250000
90%       102.600000
95%       107.400000
99%       114.729000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [11]:
# kategorik değişkenlerin analizini yapınız.
def category(data, col_name):
    print(pd.DataFrame({col_name: data[col_name].value_counts(),
                       'Ratio': 100 * data[col_name].value_counts() / len(data)}))

In [12]:
for col in cat_cols:
    category(df,col)

            CUSTOMERID     Ratio
CUSTOMERID
7590-VHVEG           1  0.014198
3791-LGQCY           1  0.014198
6008-NAIXK           1  0.014198
5956-YHHRX           1  0.014198
5365-LLFYV           1  0.014198
...                ...       ...
9796-MVYXX           1  0.014198
2637-FKFSY           1  0.014198
1552-AAGRX           1  0.014198
4304-TSPVK           1  0.014198
3186-AJIEK           1  0.014198

[7043 rows x 2 columns]
        GENDER     Ratio
GENDER
Male      3555  50.47565
Female    3488  49.52435
         PARTNER     Ratio
PARTNER
No          3641  51.69672
Yes         3402  48.30328
            DEPENDENTS      Ratio
DEPENDENTS
No                4933  70.041176
Yes               2110  29.958824
              PHONESERVICE      Ratio
PHONESERVICE
Yes                   6361  90.316626
No                     682   9.683374
                  MULTIPLELINES      Ratio
MULTIPLELINES
No                         3390  48.132898
Yes                        2971  42.183729
No phone service            682   9.683374
                 INTERNETSERVICE      Ratio
INTERNETSERVICE
Fiber optic                 3096  43.958540
DSL                         2421  34.374556
No                          1526  21.666903
                     ONLINESECURITY      Ratio
ONLINESECURITY
No                             3498  49.666335
Yes                            2019  28.666761
No internet service            1526  21.666903
                     ONLINEBACKUP      Ratio
ONLINEBACKUP
No                           3088  43.844952
Yes                          2429  34.488144
No internet service          1526  21.666903
                     DEVICEPROTECTION      Ratio
DEVICEPROTECTION
No                               3095  43.944342
Yes                              2422  34.388755
No internet service              1526  21.666903
                     TECHSUPPORT      Ratio
TECHSUPPORT
No                          3473  49.311373
Yes                         2044  29.021724
No internet service         1526  21.666903
                     STREAMINGTV      Ratio
STREAMINGTV
No                          2810  39.897771
Yes                         2707  38.435326
No internet service         1526  21.666903
                     STREAMINGMOVIES      Ratio
STREAMINGMOVIES
No                              2785  39.542808
Yes                             2732  38.790288
No internet service             1526  21.666903
                CONTRACT      Ratio
CONTRACT
Month-to-month      3875  55.019168
Two year            1695  24.066449
One year            1473  20.914383
                  PAPERLESSBILLING      Ratio
PAPERLESSBILLING
Yes                           4171  59.221922
No                            2872  40.778078
                           PAYMENTMETHOD      Ratio
PAYMENTMETHOD
Electronic check                    2365  33.579441
Mailed check                        1612  22.887974
Bank transfer (automatic)           1544  21.922476
Credit card (automatic)             1522  21.610109
              TOTALCHARGES     Ratio
TOTALCHARGES
                        11  0.156183
20.2                    11  0.156183
19.75                    9  0.127786
20.05                    8  0.113588
19.9                     8  0.113588
...                    ...       ...
6849.4                   1  0.014198
692.35                   1  0.014198
130.15                   1  0.014198
3211.9                   1  0.014198
6844.5                   1  0.014198

[6531 rows x 2 columns]
       CHURN      Ratio
CHURN
No      5174  73.463013
Yes     1869  26.536987
               SENIORCITIZEN      Ratio
SENIORCITIZEN
0                       5901  83.785319
1                       1142  16.214681

In [13]:
# Adım 4: Hedef değişken analizi yapınız. (Kategorik değişkenlere göre hedef değişkenin ortalaması, hedef değişkene görenumerik değişkenlerin ortalaması)
def hedef(data,target,numbers):
    print(pd.DataFrame(data.groupby(target).agg({numbers:['mean','std','sum']})))

In [14]:
for col in num_cols:
    hedef(df,'CUSTOMERID',col)

           SENIORCITIZEN
                    mean std sum
CUSTOMERID
0002-ORFBO           0.0 NaN   0
0003-MKNFE           0.0 NaN   0
0004-TLHLJ           0.0 NaN   0
0011-IGKFF           1.0 NaN   1
0013-EXCHZ           1.0 NaN   1
...                  ...  ..  ..
9987-LUTYD           0.0 NaN   0
9992-RRAMN           0.0 NaN   0
9992-UJOEL           0.0 NaN   0
9993-LHIEB           0.0 NaN   0
9995-HOTOH           0.0 NaN   0

[7043 rows x 3 columns]
           TENURE
             mean std sum
CUSTOMERID
0002-ORFBO    9.0 NaN   9
0003-MKNFE    9.0 NaN   9
0004-TLHLJ    4.0 NaN   4
0011-IGKFF   13.0 NaN  13
0013-EXCHZ    3.0 NaN   3
...           ...  ..  ..
9987-LUTYD   13.0 NaN  13
9992-RRAMN   22.0 NaN  22
9992-UJOEL    2.0 NaN   2
9993-LHIEB   67.0 NaN  67
9995-HOTOH   63.0 NaN  63

[7043 rows x 3 columns]
           MONTHLYCHARGES
                     mean std    sum
CUSTOMERID
0002-ORFBO          65.60 NaN  65.60
0003-MKNFE          59.90 NaN  59.90
0004-TLHLJ          73.90 NaN  73.90
0011-IGKFF          98.00 NaN  98.00
0013-EXCHZ          83.90 NaN  83.90
...                   ...  ..    ...
9987-LUTYD          55.15 NaN  55.15
9992-RRAMN          85.10 NaN  85.10
9992-UJOEL          50.30 NaN  50.30
9993-LHIEB          67.85 NaN  67.85
9995-HOTOH          59.00 NaN  59.00

[7043 rows x 3 columns]

In [15]:
# Adım 5: Aykırı gözlem analizi yapınız.
def ayk(data,col_names, q1=0.25,q3=0.75):
    query1=data[col_names].quantile(q1)
    queyr3=data[col_names].quantile(q3)
    iqr=queyr3 - query1
    low_l=query1 - 1.5 * iqr
    up_l=queyr3 + 1.5 *iqr
    return low_l,up_l

In [16]:
for col in num_cols:
    print(col,ayk(df,col))

SENIORCITIZEN (0.0, 0.0)
TENURE (-60.0, 124.0)
MONTHLYCHARGES (-46.02499999999999, 171.375)

In [17]:
def chech(data,col_name):
    low_l,up_l=ayk(data,col_name)
    if data[(data[col_name] < low_l) | (data[col_name] > up_l)].any(axis=None):
        return True
    else:
        return False

In [18]:
for col in num_cols:
    print(col,chech(df,col))

SENIORCITIZEN True
TENURE False
MONTHLYCHARGES False

In [19]:
def grab_out(data,col_name):
    low_l,up_l=ayk(data,col_name)
    if data[((data[col_name] < low_l) | (data[col_name] > up_l))].shape[0] > 10:
        print(data[((data[col_name] < low_l) | (data[col_name] > up_l))].head())
    else:
         print(data[((data[col_name] < low_l)| (data[col_name] > up_l))])

In [20]:
for col in num_cols:
    grab_out(df,col)

    CUSTOMERID  GENDER  SENIORCITIZEN PARTNER DEPENDENTS  TENURE PHONESERVICE
20  8779-QRDMV    Male              1      No         No       1           No  \
30  3841-NFECX  Female              1     Yes         No      71          Yes
31  4929-XIHVW    Male              1     Yes         No       2          Yes
34  3413-BMNZE    Male              1      No         No       1          Yes
50  8012-SOUDQ  Female              1      No         No      43          Yes

       MULTIPLELINES INTERNETSERVICE ONLINESECURITY  ... DEVICEPROTECTION
20  No phone service             DSL             No  ...              Yes  \
30               Yes     Fiber optic            Yes  ...              Yes
31                No     Fiber optic             No  ...              Yes
34                No             DSL             No  ...               No
50               Yes     Fiber optic             No  ...               No

   TECHSUPPORT STREAMINGTV STREAMINGMOVIES        CONTRACT PAPERLESSBILLING
20          No          No             Yes  Month-to-month              Yes  \
30         Yes          No              No        Two year              Yes
31          No         Yes             Yes  Month-to-month              Yes
34          No          No              No  Month-to-month               No
50          No         Yes              No  Month-to-month              Yes

                PAYMENTMETHOD MONTHLYCHARGES  TOTALCHARGES CHURN
20           Electronic check          39.65         39.65   Yes
30    Credit card (automatic)          96.35       6766.95    No
31    Credit card (automatic)          95.50        181.65    No
34  Bank transfer (automatic)          45.25         45.25    No
50           Electronic check          90.25       3838.75    No

[5 rows x 21 columns]
Empty DataFrame
Columns: [CUSTOMERID, GENDER, SENIORCITIZEN, PARTNER, DEPENDENTS, TENURE, PHONESERVICE, MULTIPLELINES, INTERNETSERVICE, ONLINESECURITY, ONLINEBACKUP, DEVICEPROTECTION, TECHSUPPORT, STREAMINGTV, STREAMINGMOVIES, CONTRACT, PAPERLESSBILLING, PAYMENTMETHOD, MONTHLYCHARGES, TOTALCHARGES, CHURN]
Index: []

[0 rows x 21 columns]
Empty DataFrame
Columns: [CUSTOMERID, GENDER, SENIORCITIZEN, PARTNER, DEPENDENTS, TENURE, PHONESERVICE, MULTIPLELINES, INTERNETSERVICE, ONLINESECURITY, ONLINEBACKUP, DEVICEPROTECTION, TECHSUPPORT, STREAMINGTV, STREAMINGMOVIES, CONTRACT, PAPERLESSBILLING, PAYMENTMETHOD, MONTHLYCHARGES, TOTALCHARGES, CHURN]
Index: []

[0 rows x 21 columns]

In [21]:
def replace(data,col_name):
    low_l,up_l=ayk(data,col_name)
    data.loc[(data[col_name]<low_l)]=low_l
    data.loc[(data[col_name] > up_l)]=up_l
    return low_l,up_l

In [22]:
for col in num_cols:
    print(replace(df,col))

(0.0, 0.0)
(-70.0, 122.0)
(-75.47500000000001, 179.125)

In [23]:
for col in num_cols:
    print(col,chech(df,col))

SENIORCITIZEN False
TENURE False
MONTHLYCHARGES False

In [24]:
# Adım 6: Eksik gözlem analizi yapınız.
def missing (data):
    miss=[col for col in data.columns if data[col].isnull().sum() > 0]
    na_sort=data[miss].isnull().sum().sort_values(ascending=False)
    ratio=(data[miss].isnull().sum()/ data.shape[0] * 100)
    concat=pd.concat([na_sort, np.round(ratio,2)], axis=1, keys=['missing_values','ratio'])
    print(concat)

In [25]:
missing(df)

Empty DataFrame
Columns: [missing_values, ratio]
Index: []

In [26]:
df.head()

,CUSTOMERID,GENDER,SENIORCITIZEN,PARTNER,DEPENDENTS,TENURE,PHONESERVICE,MULTIPLELINES,INTERNETSERVICE,ONLINESECURITY,...,DEVICEPROTECTION,TECHSUPPORT,STREAMINGTV,STREAMINGMOVIES,CONTRACT,PAPERLESSBILLING,PAYMENTMETHOD,MONTHLYCHARGES,TOTALCHARGES,CHURN
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [27]:
# Adım 2: Yeni değişkenler oluşturunuz
df.loc[(df['GENDER']=='Male') & (df['SENIORCITIZEN']==0),'New_Gender']='Young_male'
df.loc[(df['GENDER']=='Male') & (df['SENIORCITIZEN']==1),'New_Gender']='Senior_male'

In [28]:
df.head()

,CUSTOMERID,GENDER,SENIORCITIZEN,PARTNER,DEPENDENTS,TENURE,PHONESERVICE,MULTIPLELINES,INTERNETSERVICE,ONLINESECURITY,...,TECHSUPPORT,STREAMINGTV,STREAMINGMOVIES,CONTRACT,PAPERLESSBILLING,PAYMENTMETHOD,MONTHLYCHARGES,TOTALCHARGES,CHURN,New_Gender
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,NaN
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,No,No,One year,No,Mailed check,56.95,1889.5,No,Young_male
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Young_male
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Young_male
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,NaN

In [29]:
df.loc[(df['GENDER']=='Female') & (df['SENIORCITIZEN']==0), 'New_Gender']='Young_female'
df.loc[(df['GENDER']=='Female') & (df['SENIORCITIZEN']==1), 'New_Gender']='Senior_female'

In [30]:
df['New_Gender'].value_counts()

New_Gender
Young_male      2981
Young_female    2920
Name: count, dtype: int64

In [31]:
df.groupby('GENDER').agg({'TENURE':'mean'})

           TENURE
GENDER
0.0      0.000000
Female  32.171233
Male    32.212680

In [32]:
df.loc[(df['TENURE'] >= 0) & (df['TENURE'] < 30 ), 'New_Tenure']='silver_customer'
df.loc[(df['TENURE'] >= 30) & (df['TENURE'] < 50),'New_Tenure']='gold_customer'
df.loc[(df['TENURE'] >= 50) & (df['TENURE'] < 72), 'New_Tenure']='premium_customer'

In [33]:
df['New_Tenure'].value_counts()

New_Tenure
silver_customer     4157
premium_customer    1504
gold_customer       1076
Name: count, dtype: int64

In [34]:
df.loc[(df['GENDER']=='Male') & (df['PHONESERVICE']=='Yes'), 'Phone_servcice']='Yes_male_phone_sercice'
df.loc[(df['GENDER']=='Male') & (df['PHONESERVICE']=='No'), 'Phone_servcice']='No_male_phone_sercice'

In [35]:
df.loc[(df['GENDER']=='Female') & (df['PHONESERVICE']=='Yes'), 'Phone_servcice']='Yes_famele_phone_service'
df.loc[(df['GENDER']=='Female') & (df['PHONESERVICE']=='No'),'Phone_servcice']='No_female_phone_service'

In [36]:
df.head(15)

,CUSTOMERID,GENDER,SENIORCITIZEN,PARTNER,DEPENDENTS,TENURE,PHONESERVICE,MULTIPLELINES,INTERNETSERVICE,ONLINESECURITY,...,STREAMINGMOVIES,CONTRACT,PAPERLESSBILLING,PAYMENTMETHOD,MONTHLYCHARGES,TOTALCHARGES,CHURN,New_Gender,New_Tenure,Phone_servcice
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,Month-to-month,Yes,Electronic check,29.85,29.85,No,Young_female,silver_customer,No_female_phone_service
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,No,One year,No,Mailed check,56.95,1889.5,No,Young_male,gold_customer,Yes_male_phone_sercice
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes,Young_male,silver_customer,Yes_male_phone_sercice
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,No,One year,No,Bank transfer (automatic),42.30,1840.75,No,Young_male,gold_customer,No_male_phone_sercice
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes,Young_female,silver_customer,Yes_famele_phone_service
5,9305-CDSKC,Female,0,No,No,8,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Electronic check,99.65,820.5,Yes,Young_female,silver_customer,Yes_famele_phone_service
6,1452-KIOVK,Male,0,No,Yes,22,Yes,Yes,Fiber optic,No,...,No,Month-to-month,Yes,Credit card (automatic),89.10,1949.4,No,Young_male,silver_customer,Yes_male_phone_sercice
7,6713-OKOMC,Female,0,No,No,10,No,No phone service,DSL,Yes,...,No,Month-to-month,No,Mailed check,29.75,301.9,No,Young_female,silver_customer,No_female_phone_service
8,7892-POOKP,Female,0,Yes,No,28,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Electronic check,104.80,3046.05,Yes,Young_female,silver_customer,Yes_famele_phone_service
9,6388-TABGU,Male,0,No,Yes,62,Yes,No,DSL,Yes,...,No,One year,No,Bank transfer (automatic),56.15,3487.95,No,Young_male,premium_customer,Yes_male_phone_sercice
10,9763-GRSKD,Male,0,Yes,Yes,13,Yes,No,DSL,Yes,...,No,Month-to-month,Yes,Mailed check,49.95,587.45,No,Young_male,silver_customer,Yes_male_phone_sercice
11,7469-LKBCI,Male,0,No,No,16,Yes,No,No,No internet service,...,No internet service,Two year,No,Credit card (automatic),18.95,326.8,No,Young_male,silver_customer,Yes_male_phone_sercice
12,8091-TTVAX,Male,0,Yes,No,58,Yes,Yes,Fiber optic,No,...,Yes,One year,No,Credit card (automatic),100.35,5681.1,No,Young_male,premium_customer,Yes_male_phone_sercice
13,0280-XJGEX,Male,0,No,No,49,Yes,Yes,Fiber optic,No,...,Yes,Month-to-month,Yes,Bank transfer (automatic),103.70,5036.3,Yes,Young_male,gold_customer,Yes_male_phone_sercice
14,5129-JLPIS,Male,0,No,No,25,Yes,No,Fiber optic,Yes,...,Yes,Month-to-month,Yes,Electronic check,105.50,2686.05,No,Young_male,silver_customer,Yes_male_phone_sercice

In [37]:
df.loc[(df['GENDER']=='Male') & (df['SENIORCITIZEN']==0) & (df['PARTNER']=='Yes'), 'New_Partner']='Male_Partner'
df.loc[(df['GENDER']=='Male') & (df['SENIORCITIZEN']==1) & (df['PARTNER']=='No'), 'New_Partner']='Male_Partner'

In [38]:
df['New_Gender'].value_counts()

New_Gender
Young_male      2981
Young_female    2920
Name: count, dtype: int64

df.head(100)

In [47]:
# Adım 3: Encoding işlemlerini gerçekleştiriniz.
def one_hot_encoder(data, col_ns, drop_first=True):
    data=pd.get_dummies(data, columns=col_ns, drop_first=drop_first)
    return data